h1 {
  font-size: 35px;
  font-weight: 700;
  margin: 0.67em 0;
  color: #3A7E79;
  margin-right: 220px;
}

h2 {
  font-size:20px;
  font-weight: 700;
  margin: 0.67em 0;
  color: #3A7E79;
  margin-right: 220px;
  text-align: left;
}

p {
  text-align: left;
  font-size: 18px;
  margin-right: 100px;
}


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}


body {
        max-width: 50em;
        margin: 0 auto;
        padding: 1em;
        gap: 0.5em;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows:20% 100%;
        grid-template-areas:
        "header main"
        "nav main";
        font-family: montserrat;
        background-color: white;
      }
      header {
        grid-area: header;
      }
      nav {
        grid-area: nav;
        margin: 40px;
      }
      main {
        grid-area: main;
      }

a {
  font-size: 16px;
  align-items: center;
}

i {
  display: none;
}

img {
  height: 200px;
  width: 200px;
  float: inline-start;
  margin-top: -10px;
}

:root {
  font-size: min(calc(1em + 1vw), 4em);
}

header {
  height: 200px;
  float: left;
  margin-bottom: -10px;
  margin-top: -10px;
}

main{
  align-items: center;
}

main {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 1.4;
  text-align: center;
}

.btn{
  appearance: auto;
  border-style: 5px;
  border:2px;
  background-color:#3A7E79;
  border-radius: 30px;
  height: 35px;
  width: 135px;
  cursor: pointer;
  color:white;
  margin-bottom: 100px;
  font-family: montserrat;
  float: left;
  margin-left: 70px;
  margin-top: -80px;
  box-sizing: border-box;
}

.btn:hover{
  /* border-color: #3f998b; */
  /* border: 2px; */
  background-color:#3A7E79;
  border-radius: 30px;
  height: 35px;
  width: 135px;
  cursor: pointer;
  color:#ffffff;
  margin-bottom: 100px;
  font-family: montserrat;
  float: left;
  margin-left: 70px;
  margin-top: -80px;
}

.btn-box {
    text-align: center;
    width: 70%;
    margin: 4em auto;
}

input[type="text"]{
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 4px;
  width: 300px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: montserrat;
  font-weight:400;
  font-size: 15px;
  transition:0.2s ease;
}

input[type="text"]{
  border-bottom: 2px solid#3A7E79;
  color: #000000;
  transition: 0.2s ease;
}


form {
    display: block;
    margin-top: 0em;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.multi-step-form {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.card.active {
    animation: slide 250ms 125ms ease-in-out both;
}

.card {
    background-color: white;
    box-shadow: 0 0 20px 10px rgb(0 0 0 / 20%);
    border-radius: 0.5rem;
    padding: 2em;
    max-width: 20em;
    height: 12em;
    margin: 2em auto;
    animation: fade 250ms ease-in-out forwards;
    margin-right: 280px;
}

0% {
    transform: translateX(200%);
    opacity: 0;
}

50% {
    transform: scale(.75);
    opacity: 0;
}

100% {
    transform: translateX(0);
    opacity: 1;
}

.hide {
    display: none;
}


@media (max-width: 952px){
*{
  justify-content: left;
}

nav{
    display:none;
list-style: none;
}

h1{
  text-align: left;
  margin-top: -340px;
  margin-left: -320px;

}

p {
  text-align: left;
  font-size: 18px;
  margin-left: -320px;
  width:max-content: 300px;
}

img {
  height: 200px;
  width: 200px;
  margin-left: -200px;
}

body {
        max-width: 0em;
        padding: 0em;
        gap: 0.5em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "header"
        "main";
        font-family: montserrat;
        background-color: white;
      }
      header {
        grid-area: header;
      }
      main {
        grid-area: main;
      }

header{
  justify-content: left;
  margin-left: -160px;
  margin-top: 10px;
}
main {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 1.4;
  text-align: center;
}

.card {
    background-color: white;
    box-shadow: 0 0 20px 10px rgb(0 0 0 / 20%);
    border-radius: 0.5rem;
    padding: 2em;
    max-width: 20em;
    height: 12em;
    margin-left: -200px;
    animation: fade 250ms ease-in-out forwards;
}

 nav {
        grid-area: nav;
        list-style: none;
      }
      
}


@media (max-width: 700px){
img {
  height: 200px;
  width: 200px;
  margin-left: -90px;
  margin-top: -10px;
}

h1{
  margin-left: -150px;
  margin-top: -300px;
}
}


